
/************************************RESET******************************************/
* {
	margin: 0; 
	padding: 0;
    box-sizing: border-box;
}

body{
	position: absolute;
	min-height: 100vh;
	min-width: 100%;
	background: #0f0f0f;
}
	/*background: #1f2224;*/


/************************************MENU******************************************/
/*16 vh + 5 vh + 20vh + 132px*/
#imgNavBar{ /* de altura e largura 132px*/ 
	max-width: 90%;
	margin-top: 5vh;
	background:#0f0f0f;
	border-radius: 100%;
	border: solid 1px white;
}
.centraliza_img{
	text-align: center;
}
#nome{
	opacity: 0.9;
	font-size: 100%;
    font-family: Cascadia Code, Bahnschrift, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	color: white;
	font-weight: bolder;
}
#sobrenome{
	font-size: 100%;
    font-family: Cascadia Mono, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	color: #3f3f74;
}
#profissao{
	font-size: 75%;
    font-family: Cascadia Code, Bahnschrift, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	color: yellow;
}
nav{
	background: #1f1f1f;
	min-width: 15%;
	max-width: 15%;
	float:left;
	position: fixed;
	height: 100vh;
	border-right: solid 2px #3f3f74;
}
#opcoes {
	margin-top: 20vh;
}
#opcoes > a {
	text-decoration: none;
}
#opcoes > a > li {
	list-style: none;
	border: solid 1px #1f1f1f;
	text-decoration: none;
	color:white;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 5%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	/* 4x4 vh = 16vh*/
	text-align: left;
    font-family: Cascadia Mono, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
    font-weight: bold;
}
#opcoes > a > li{
	text-decoration: none;
	color:white;
}
#opcoes > a > li:hover {
	transform: scale(1.1);
	border: solid 1px #3f3f74;
	border-radius: 5px;
	transition: border 1s;
	color: #3f3f74;
	transition: color 1s;
}
#contato{
	position:fixed;
	border-top: solid 2px #3f3f74;
	padding-top: 2vh;
	min-width: 15%;
	max-width: 15%;
	margin-top: 91vh;
}
#contato > a{
	text-decoration: none;
}
#contato > a > li, #contato > li {
	list-style: none;
	margin-left: calc((50% - 20px) / 3);
	display: inline;
}
#contato > a > li > img, #contato > li > img{
	max-width: 2vw;
	border-radius: 100%;
	border: solid 1px white;
	opacity: 0.7;
}
#contato > a > li > img:hover, #contato > li > img:hover{
	transform: scale(1.1);
	border: solid 1px #3f3f74;
	opacity: 1.0;
	transition: opacity 0.25s, border 0.25s;

}
/************************************DESCRICAO******************************************/
h1{
	margin-top: 2.5%;
	animation-name: animacao; 
	animation-duration: 6s;
	margin-left: 30vw;
	color:white;
	font-weight: bold;
    font-family: Cascadia Mono, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
}
.section{
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
	background: #1f1f1f;
	border: solid 1px #3f3f74;
	border-radius: 1%;
	padding-bottom: 50vh;
	margin-left: 17.5vw;
	margin-right: 2.5vw;
}
#titulo{
	float:left;
}
#barra{
	display: inline;
	animation-name: barra;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
@keyframes animacao{
	from{
		opacity: 0.5;
	}
	to{
		opacity: 1.0;
	}
}	
@keyframes barra{
	from{
		opacity: 0.0;
	}
	to{
		opacity: 1.0;
	}
}
/****************************CODIGOS PARA TESTES****************************/
section > p{
    font-family: Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 3vw;
	justify-content: space-between;
	color: white;

}