
/************************************RESET******************************************/
* {
	margin: 0; 
	padding: 0;
    box-sizing: border-box;
}

body{
	position: absolute;
	min-height: 100vh;
	min-width: 100%;
	background: #0f0f0f;
}
	/*background: #1f2224;*/


/************************************MENU******************************************/
#imgNavBar{
	max-width: 90%;
	margin-top: 10%;
	background: lightyellow;
	border-radius: 100%;
	border: solid 2px white;
}
.centraliza_img{
	text-align: center;
}
#nome{

	opacity: 0.9;
	font-size: 100%;
    font-family: Cascadia Code, Bahnschrift, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	color: white;
	font-weight: bolder;
}
#sobrenome{
	font-size: 100%;
    font-family: Cascadia Mono, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	color: #3f3f74;
}
#profissao{
	font-size: 75%;
    font-family: Cascadia Code, Bahnschrift, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	color: yellow;
}
nav{
	background: #1f1f1f;
	min-width: 15%;
	max-width: 15%;
	float:left;
	position: fixed;
	height: 100vh;
	border-right: solid 2px #3f3f74;
}
#opcoes {
	margin-top: 20vh;
}
#opcoes > a {
	text-decoration: none;
}
#opcoes > a > li {
	border: solid 1px #1f1f1f;
	text-decoration: none;
	color:white;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	text-align: center;
    font-family: Cascadia Mono, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
    font-weight: bold;
}
#opcoes > a > li{
	text-decoration: none;
	color:white;
}
#opcoes > a > li:hover {
	border: solid 1px #3f3f74;
	border-radius: 5px;
	transition: border 1s;
	color: #3f3f74;
	transition: color 1s;
}
#contato{
	position:absolute;
	border-top: solid 1px #3f3f74;
	padding-top: 1vh;
	min-width: 100%;
	margin-top: 60%;
}
#contato > a{
	text-decoration: none;
}
#contato > a > li, #contato > li {
	list-style: none;
	margin-left: calc((33% * 3) / 8.8);
	display: inline;
}
#contato > a > li > img, #contato > li > img{
	max-width: 2.5vw;
	border-radius: 100%;
	border: solid 1px white;
	opacity: 0.7;
}
#contato > a > li > img:hover, #contato > li > img:hover{
	border: solid 1px #3f3f74;
	opacity: 1.0;
	transition: opacity 1s, border 1s;

}
/************************************DESCRICAO******************************************/
.section{
	position: relative;
	margin-top: 5%;
	background: #1f1f1f;
	border: solid 1px #3f3f74;
	border-radius: 1%;
	padding-bottom: 50vh;
	margin-left: 20vw;
	margin-right: 5vw;
}
h1{
	margin-left: 30vw;
	color:white;
	font-weight: bold;
    font-family: Cascadia Mono, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
}

/****************************CODIGOS PARA TESTES****************************/
section > p{
    font-family: Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, sans-serif;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 3vw;
	justify-content: space-between;
	color: white;

}